## Load, clean, and save data

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from datetime import datetime as dt
import datetime

import code.get_mta_data as gmd
import code.process_mta_data as pmd

## import data

In [2]:
mta = gmd.load_local_data([2019, 2018], [3, 4, 5])
# mta = gmd.load_local_data([2019], [3])

## Tidy up data

In [3]:
mta = pmd.clean_col_names(mta)
mta = pmd.add_datetime(mta)
mta = pmd.convert_date_to_datetime(mta)

There are many rows with 'RECOVER AUD'. In Lara's presentation, these were shown to be be duplicates in at least some cases. We will remove them all.

In [4]:
mta = pmd.remove_recovr_aud(mta)

[disabled] Select only the entries where time is midnight

In [5]:
# mta = pmd.filter_to_midnight(mta)

In [6]:
mta

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,07:00:00,REGULAR,6527794,2210507,2018-02-24 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,11:00:00,REGULAR,6527838,2210585,2018-02-24 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,15:00:00,REGULAR,6527994,2210644,2018-02-24 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,19:00:00,REGULAR,6528278,2210705,2018-02-24 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,23:00:00,REGULAR,6528389,2210728,2018-02-24 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5154909,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-05-24,05:00:00,REGULAR,5554,378,2019-05-24 05:00:00
5154910,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-05-24,09:00:00,REGULAR,5554,378,2019-05-24 09:00:00
5154911,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-05-24,13:00:00,REGULAR,5554,378,2019-05-24 13:00:00
5154912,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-05-24,17:00:00,REGULAR,5554,378,2019-05-24 17:00:00
5154913,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-05-24,21:00:00,REGULAR,5554,378,2019-05-24 21:00:00

In [7]:
filename = 'ekand_clean_data_0.2.csv'
gmd.save_interem_ekand_v_0_1(mta, filename)